{% extends "base.html" %}
{% block content %}

    <p>
      Welcome to the public repository server of the 
      <a href="https://computing.ifca.es">Advanced Computing and e-Science</a>
      research group at the 
      <a href="https://ifca.unican.es">Institute of Physics of Cantabria (IFCA)</a> 
      a joint center of the 
      <a href="https://www.csic.es">Spanish National Research Council (CSIC)</a>
      and the 
      <a href="https://web.unican.es">University of Cantabria</a>. 
      This server hosts mirrors for several Open Source projects, in particular
      for popular linux distributions. We are open to mirror any intersting
      project upon request.
    </p>

    <p>
      The server is physically located in Santander (Cantabria), in the northern
      part of Spain. It is connected to the Internet through a 10Gbps connection
      via the <a href="https://rediris.es">Spanish National Research and Education
      Network (RedIRIS)</a>. The current server hardware is the following:
    </p>

    <ul>
        <li>
            ThinkServer TD350
        </li>
        <li>
            Intel(R) Xeon(R) CPU E5-2640 v3 2.60GHz (8 cores, 16 SMT threads) 
        </li>
        <li>
            8GB RAM
        </li>
        <li>
            77 TB disk
        </li>
        <li>
            2 x 1Gbit Ethernet
        </li>
    </ul>

    <p>
      The administrators of the server can be reached at <a href="mailto:computing.support@ifca.unican.es">computing.support@ifca.unican.es</a>.
    </p>
{% endblock %}
