{% extends "base.html" %}
{% block content %}
  <p>This server hosts
     <a href="http://en.wikipedia.org/wiki/Mirror_%28computing%29">mirrors</a>
     for many Open Source projects, in particular it hosts many mirrors for
     popular linux distributions. This server is located in Santander (Cantabria) northern of
     Spain. You can also get <a href="about.html">more information about this server</a>.
  </p>

  <h2>Directory of mirrors</h2>
  <table>
      <tr>
          <th>
              Name
          </th>
          <th>
              Description
          </th>
          <th>
              Update frequency
          </th>
          <th>
              Last run
          </th>
      </tr>
  </table>
{% endblock %}
