{% extends "base.html" %}
{% block content %}
  <p>This server hosts
     <a href="http://en.wikipedia.org/wiki/Mirror_%28computing%29">mirrors</a>
     for many Open Source projects, in particular it hosts many mirrors for
     popular linux distributions. This server is located in Santander (Cantabria) northern of
     Spain. You can also get <a href="about.html">more information about this server</a>.
  </p>

  <h2>Directory of mirrors</h2>
  <table>
      <tr>
          <th>
              Mirror name
          </th>
          <th>
              Description
          </th>
          <th>
              Update frequency (hours)
          </th>
          <th>
              Last run
          </th>
      </tr>
      {% for mirror, data in mirror_data.items() %}
      <tr>
          <td>
              <a href="/mirrors/{{ mirror }}">{{ mirror }}</a>
          </td>
          <td>
              {{ data["description"] }}
          </td>
          <td>
              {{ data["update-frequency"] }}
          </td>
          <td>
              <a href="stats_{{ mirror }}.html">{{ data["updates"][-1]["end_date"] }}</a>
          </td>
      </tr>
      {% endfor %}
  </table>

  <h2> Mirror statistics </h2>
  <p>
  <a href="stats.html">Detailed mirror statistics</a>
  </p>
{% endblock %}
