{% extends "base.html" %}
{% block content %}
  <h2>All mirrors status</h2>
  <table>
      <tr>
          <th rowspan=2>
              Mirror name
          </th>
          <th rowspan=2>
              Update frequency <br /> (hours)
          </th>
          <th colspan=5>
              Last 5 runs
          </th>
          <th rowspan=2>
              Mirror status <br /> (updated/outdated)
          </th>
      </tr>
      <tr>
          <th>
              Start time
          </th>
          <th>
              End time
          </th>
          <th>
              Duration
          </th>
          <th>
              Time ago
          </th>
          <th>
              Status
          </th>
      </tr>
      {% for mirror, data in mirror_data.items() %}
      <tr>
          <td>
              <a href="stats_{{ mirror }}.html">{{ mirror }}</a>
          </td>
          <td style="text-align: center;">
              <span class="plain">{{ data["update-frequency"] }}</span>
          </td>
          {% set updates = data["updates"][-1:-5:-1] %}
          <td>
              {% for update in updates %}
                 {% if update["status"] != 0 %}
                   {% set state = "error" %}
                 {% else %}
                   {% set state = "ok" %}
                 {% endif %}
              <p class="{{ state }}">{{ update["start_date"] }}</p>
              {% endfor %}
          </td>
          <td>
              {% for update in updates %}
                 {% if update["status"] != 0 %}
                   {% set state = "error" %}
                 {% else %}
                   {% set state = "ok" %}
                 {% endif %}
              <p class="{{ state }}">{{ update["end_date"] }}</p>
              {% endfor %}
          </td>
          <td>
              {% for update in updates %}
                 {% if update["status"] != 0 %}
                   {% set state = "error" %}
                 {% else %}
                   {% set state = "ok" %}
                 {% endif %}
              <p class="{{ state }}">{{ update["duration"] }}</p>
              {% endfor %}
          </td>
          <td style="text-align: center;">
              <span class="plain">{{ data["time ago"] }}</span>
          </td>
          <td>
              {% for update in updates %}
                 {% if update["status"] != 0 %}
                   {% set state = "error" %}
                 {% else %}
                   {% set state = "ok" %}
                 {% endif %}
              <p class="{{ state }}">{{ state.upper() }}</p>
              {% endfor %}
          </td>
          <td class="{{ data["status"]}}">
              {{ data["status"].upper() }}
          </td>
      </tr>
      {% endfor %}
  </table>
{% endblock %}
